<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_fbridge.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_fbridge.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_fbridge.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_fbridge.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_fbridge.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_fbridge.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_fbridge.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_fbridge.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_fbridge.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_fbridge.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_fbridge.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_fbridge_path(@adesc_fbridge) %> |
<%= link_to 'Back', adesc_fbridges_path %>
