<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_fcomm.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_fcomm.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_fcomm.seqcms %>
</p>

<p>
  <strong>Adesc fcomm:</strong>
  <%= @a_fcomm.adesc_fcomm %>
</p>

<p>
  <strong>F communication:</strong>
  <%= @a_fcomm.f_communication %>
</p>

<%= link_to 'Edit', edit_a_fcomm_path(@a_fcomm) %> |
<%= link_to 'Back', a_fcomms_path %>
