<p id="notice"><%= notice %></p>

<h1>Listing Ar Flampactuator Lamptypes</h1>

<table>
  <thead>
    <tr>
      <th>F lampactuator</th>
      <th>El lamptype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_flampactuator_lamptypes.each do |ar_flampactuator_lamptype| %>
      <tr>
        <td><%= ar_flampactuator_lamptype.f_lampactuator %></td>
        <td><%= ar_flampactuator_lamptype.el_lamptype %></td>
        <td><%= link_to 'Show', ar_flampactuator_lamptype %></td>
        <td><%= link_to 'Edit', edit_ar_flampactuator_lamptype_path(ar_flampactuator_lamptype) %></td>
        <td><%= link_to 'Destroy', ar_flampactuator_lamptype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar flampactuator lamptype', new_ar_flampactuator_lamptype_path %>
