<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_si_physicaldevpanel.ed_logicaldev %>
</p>

<p>
  <strong>Si physicaldevpanel:</strong>
  <%= @ed_logicaldev_si_physicaldevpanel.si_physicaldevpanel %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_si_physicaldevpanel_path(@ed_logicaldev_si_physicaldevpanel) %> |
<%= link_to 'Back', ed_logicaldev_si_physicaldevpanels_path %>
