<p id="notice"><%= notice %></p>

<p>
  <strong>C start:</strong>
  <%= @c_conditionccday.c_start %>
</p>

<p>
  <strong>V occurrence:</strong>
  <%= @c_conditionccday.v_occurrence %>
</p>

<p>
  <strong>C end:</strong>
  <%= @c_conditionccday.c_end %>
</p>

<p>
  <strong>C rulescondition:</strong>
  <%= @c_conditionccday.c_rulescondition %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @c_conditionccday.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @c_conditionccday.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @c_conditionccday.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @c_conditionccday.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @c_conditionccday.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @c_conditionccday.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @c_conditionccday.sunday %>
</p>

<%= link_to 'Edit', edit_c_conditionccday_path(@c_conditionccday) %> |
<%= link_to 'Back', c_conditionccdays_path %>
