<p id="notice"><%= notice %></p>

<p>
  <strong>Eg group:</strong>
  <%= @eg_groups_lamp_ed_logicaldev.eg_group %>
</p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @eg_groups_lamp_ed_logicaldev.ed_logicaldev %>
</p>

<%= link_to 'Edit', edit_eg_groups_lamp_ed_logicaldev_path(@eg_groups_lamp_ed_logicaldev) %> |
<%= link_to 'Back', eg_groups_lamp_ed_logicaldevs_path %>
