<%= form_for(@c_conditionccdate) do |f| %>
  <% if @c_conditionccdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@c_conditionccdate.errors.count, "error") %> prohibited this c_conditionccdate from being saved:</h2>

      <ul>
      <% @c_conditionccdate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :c_start %><br>
    <%= f.text_area :c_start %>
  </div>
  <div class="field">
    <%= f.label :c_end %><br>
    <%= f.text_area :c_end %>
  </div>
  <div class="field">
    <%= f.label :c_rulescondition_id %><br>
    <%= f.text_field :c_rulescondition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
