<p id="notice"><%= notice %></p>

<p>
  <strong>C start:</strong>
  <%= @c_conditionccdate.c_start %>
</p>

<p>
  <strong>C end:</strong>
  <%= @c_conditionccdate.c_end %>
</p>

<p>
  <strong>C rulescondition:</strong>
  <%= @c_conditionccdate.c_rulescondition %>
</p>

<%= link_to 'Edit', edit_c_conditionccdate_path(@c_conditionccdate) %> |
<%= link_to 'Back', c_conditionccdates_path %>
