<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_defaultlightstate.f_lampactuator %>
</p>

<p>
  <strong>L lightstate:</strong>
  <%= @ar_flampactuator_defaultlightstate.l_lightstate %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_defaultlightstate_path(@ar_flampactuator_defaultlightstate) %> |
<%= link_to 'Back', ar_flampactuator_defaultlightstates_path %>
