<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_vf_lampactuator_event.ed_logicaldev %>
</p>

<p>
  <strong>V f lampactuator event:</strong>
  <%= @ed_logicaldev_vf_lampactuator_event.v_f_lampactuator_event %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_vf_lampactuator_event_path(@ed_logicaldev_vf_lampactuator_event) %> |
<%= link_to 'Back', ed_logicaldev_vf_lampactuator_events_path %>
