<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_flampactuator.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_flampactuator.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_flampactuator.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_flampactuator.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_flampactuator.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_flampactuator.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_flampactuator.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_flampactuator.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_flampactuator.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_flampactuator.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_flampactuator.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_flampactuator_path(@adesc_flampactuator) %> |
<%= link_to 'Back', adesc_flampactuators_path %>
