<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @p_activeperiodabsolute.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @p_activeperiodabsolute.end_time %>
</p>

<p>
  <strong>Ep controlprogram:</strong>
  <%= @p_activeperiodabsolute.ep_controlprogram %>
</p>

<%= link_to 'Edit', edit_p_activeperiodabsolute_path(@p_activeperiodabsolute) %> |
<%= link_to 'Back', p_activeperiodabsolutes_path %>
