<%= form_for(@si_mqtt_alarm_epd) do |f| %>
  <% if @si_mqtt_alarm_epd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@si_mqtt_alarm_epd.errors.count, "error") %> prohibited this si_mqtt_alarm_epd from being saved:</h2>

      <ul>
      <% @si_mqtt_alarm_epd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logical_address %><br>
    <%= f.text_area :logical_address %>
  </div>
  <div class="field">
    <%= f.label :si_mqtt_type_alarm_epd_id %><br>
    <%= f.text_field :si_mqtt_type_alarm_epd_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="field">
    <%= f.label :time_stamp %><br>
    <%= f.datetime_select :time_stamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
