<p id="notice"><%= notice %></p>

<h1>Listing Si Mqtt Alarm Epds</h1>

<table>
  <thead>
    <tr>
      <th>Logical address</th>
      <th>Si mqtt type alarm epd</th>
      <th>Value</th>
      <th>Time stamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @si_mqtt_alarm_epds.each do |si_mqtt_alarm_epd| %>
      <tr>
        <td><%= si_mqtt_alarm_epd.logical_address %></td>
        <td><%= si_mqtt_alarm_epd.si_mqtt_type_alarm_epd %></td>
        <td><%= si_mqtt_alarm_epd.value %></td>
        <td><%= si_mqtt_alarm_epd.time_stamp %></td>
        <td><%= link_to 'Show', si_mqtt_alarm_epd %></td>
        <td><%= link_to 'Edit', edit_si_mqtt_alarm_epd_path(si_mqtt_alarm_epd) %></td>
        <td><%= link_to 'Destroy', si_mqtt_alarm_epd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Si mqtt alarm epd', new_si_mqtt_alarm_epd_path %>
