<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @a_flampmonitor_hist.ed_logicaldev %>
</p>

<p>
  <strong>Adesc flampmonitor:</strong>
  <%= @a_flampmonitor_hist.adesc_flampmonitor %>
</p>

<p>
  <strong>Value:</strong>
  <%= @a_flampmonitor_hist.value %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @a_flampmonitor_hist.time_stamp %>
</p>

<p>
  <strong>Type count:</strong>
  <%= @a_flampmonitor_hist.type_count %>
</p>

<%= link_to 'Edit', edit_a_flampmonitor_hist_path(@a_flampmonitor_hist) %> |
<%= link_to 'Back', a_flampmonitor_hists_path %>
