<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_fbasic.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_fbasic.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_fbasic.seqcms %>
</p>

<p>
  <strong>Adesc fbasic:</strong>
  <%= @a_fbasic.adesc_fbasic %>
</p>

<p>
  <strong>F basic:</strong>
  <%= @a_fbasic.f_basic %>
</p>

<%= link_to 'Edit', edit_a_fbasic_path(@a_fbasic) %> |
<%= link_to 'Back', a_fbasics_path %>
