<p id="notice"><%= notice %></p>

<p>
  <strong>Si alarm lamp:</strong>
  <%= @si_alarm_lamp_ed_logicaldev.si_alarm_lamp %>
</p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @si_alarm_lamp_ed_logicaldev.ed_logicaldev %>
</p>

<p>
  <strong>Is group:</strong>
  <%= @si_alarm_lamp_ed_logicaldev.is_group %>
</p>

<p>
  <strong>Is single:</strong>
  <%= @si_alarm_lamp_ed_logicaldev.is_single %>
</p>

<p>
  <strong>Eg group:</strong>
  <%= @si_alarm_lamp_ed_logicaldev.eg_group %>
</p>

<%= link_to 'Edit', edit_si_alarm_lamp_ed_logicaldev_path(@si_alarm_lamp_ed_logicaldev) %> |
<%= link_to 'Back', si_alarm_lamp_ed_logicaldevs_path %>
