<p id="notice"><%= notice %></p>

<h1>Listing Ar Flampactuator Feedbacklightcommands</h1>

<table>
  <thead>
    <tr>
      <th>F lampactuator</th>
      <th>L lightcommand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_flampactuator_feedbacklightcommands.each do |ar_flampactuator_feedbacklightcommand| %>
      <tr>
        <td><%= ar_flampactuator_feedbacklightcommand.f_lampactuator %></td>
        <td><%= ar_flampactuator_feedbacklightcommand.l_lightcommand %></td>
        <td><%= link_to 'Show', ar_flampactuator_feedbacklightcommand %></td>
        <td><%= link_to 'Edit', edit_ar_flampactuator_feedbacklightcommand_path(ar_flampactuator_feedbacklightcommand) %></td>
        <td><%= link_to 'Destroy', ar_flampactuator_feedbacklightcommand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar flampactuator feedbacklightcommand', new_ar_flampactuator_feedbacklightcommand_path %>
