<p id="notice"><%= notice %></p>

<p>
  <strong>F communication:</strong>
  <%= @ar_fcommtype.f_communication %>
</p>

<p>
  <strong>V typecommunication:</strong>
  <%= @ar_fcommtype.v_typecommunication %>
</p>

<%= link_to 'Edit', edit_ar_fcommtype_path(@ar_fcommtype) %> |
<%= link_to 'Back', ar_fcommtypes_path %>
