<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_defaultscenestate.f_lampactuator %>
</p>

<p>
  <strong>L lightstate:</strong>
  <%= @ar_flampactuator_defaultscenestate.l_lightstate %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_defaultscenestate_path(@ar_flampactuator_defaultscenestate) %> |
<%= link_to 'Back', ar_flampactuator_defaultscenestates_path %>
