<p id="notice"><%= notice %></p>

<p>
  <strong>V ruletypecondition:</strong>
  <%= @c_rulescondition.v_ruletypecondition %>
</p>

<p>
  <strong>C calendarrule:</strong>
  <%= @c_rulescondition.c_calendarrule %>
</p>

<%= link_to 'Edit', edit_c_rulescondition_path(@c_rulescondition) %> |
<%= link_to 'Back', c_rulesconditions_path %>
