<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @p_dynamiccontrolelement.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @p_dynamiccontrolelement.end_time %>
</p>

<p>
  <strong>Is fixed:</strong>
  <%= @p_dynamiccontrolelement.is_fixed %>
</p>

<p>
  <strong>P dynamicoperation:</strong>
  <%= @p_dynamiccontrolelement.p_dynamicoperation %>
</p>

<p>
  <strong>L lightcommand:</strong>
  <%= @p_dynamiccontrolelement.l_lightcommand %>
</p>

<p>
  <strong>L sensor:</strong>
  <%= @p_dynamiccontrolelement.l_sensor %>
</p>

<p>
  <strong>Ep controlprogram:</strong>
  <%= @p_dynamiccontrolelement.ep_controlprogram %>
</p>

<%= link_to 'Edit', edit_p_dynamiccontrolelement_path(@p_dynamiccontrolelement) %> |
<%= link_to 'Back', p_dynamiccontrolelements_path %>
