<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @si_physicaldevgateway.name %>
</p>

<p>
  <strong>Name vial:</strong>
  <%= @si_physicaldevgateway.name_vial %>
</p>

<p>
  <strong>Number vial:</strong>
  <%= @si_physicaldevgateway.number_vial %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @si_physicaldevgateway.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @si_physicaldevgateway.latitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @si_physicaldevgateway.altitude %>
</p>

<p>
  <strong>Date installation:</strong>
  <%= @si_physicaldevgateway.date_installation %>
</p>

<%= link_to 'Edit', edit_si_physicaldevgateway_path(@si_physicaldevgateway) %> |
<%= link_to 'Back', si_physicaldevgateways_path %>
