<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_flampmonitor.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_flampmonitor.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_flampmonitor.seqcms %>
</p>

<p>
  <strong>Adesc flampmonitor:</strong>
  <%= @a_flampmonitor.adesc_flampmonitor %>
</p>

<p>
  <strong>F lampmonitor:</strong>
  <%= @a_flampmonitor.f_lampmonitor %>
</p>

<%= link_to 'Edit', edit_a_flampmonitor_path(@a_flampmonitor) %> |
<%= link_to 'Back', a_flampmonitors_path %>
