<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_eg_group.ed_logicaldev %>
</p>

<p>
  <strong>Eg group:</strong>
  <%= @ed_logicaldev_eg_group.eg_group %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_eg_group_path(@ed_logicaldev_eg_group) %> |
<%= link_to 'Back', ed_logicaldev_eg_groups_path %>
