<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_si_physicaldevgateway.ed_logicaldev %>
</p>

<p>
  <strong>Si physicaldevgateway:</strong>
  <%= @ed_logicaldev_si_physicaldevgateway.si_physicaldevgateway %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_si_physicaldevgateway_path(@ed_logicaldev_si_physicaldevgateway) %> |
<%= link_to 'Back', ed_logicaldev_si_physicaldevgateways_path %>
