<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ed_classlogicaldev.name %>
</p>

<p>
  <strong>Type device:</strong>
  <%= @ed_classlogicaldev.type_device %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ed_classlogicaldev.address %>
</p>

<%= link_to 'Edit', edit_ed_classlogicaldev_path(@ed_classlogicaldev) %> |
<%= link_to 'Back', ed_classlogicaldevs_path %>
