<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @el_lamptype.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @el_lamptype.address %>
</p>

<p>
  <strong>Wattage:</strong>
  <%= @el_lamptype.wattage %>
</p>

<p>
  <strong>V controltype:</strong>
  <%= @el_lamptype.v_controltype %>
</p>

<p>
  <strong>Control volmax:</strong>
  <%= @el_lamptype.control_volmax %>
</p>

<p>
  <strong>Control volmin:</strong>
  <%= @el_lamptype.control_volmin %>
</p>

<p>
  <strong>Min lightoutput:</strong>
  <%= @el_lamptype.min_lightoutput %>
</p>

<p>
  <strong>Virtual lightoutput:</strong>
  <%= @el_lamptype.virtual_lightoutput %>
</p>

<p>
  <strong>Dali ledlinear:</strong>
  <%= @el_lamptype.dali_ledlinear %>
</p>

<p>
  <strong>Warmup time:</strong>
  <%= @el_lamptype.warmup_time %>
</p>

<p>
  <strong>Cooldown time:</strong>
  <%= @el_lamptype.cooldown_time %>
</p>

<p>
  <strong>Low currentthreshold:</strong>
  <%= @el_lamptype.low_currentthreshold %>
</p>

<p>
  <strong>High currentthreshold:</strong>
  <%= @el_lamptype.high_currentthreshold %>
</p>

<p>
  <strong>Low lampvoltagethreshold:</strong>
  <%= @el_lamptype.low_lampvoltagethreshold %>
</p>

<p>
  <strong>High lampvoltagethreshold:</strong>
  <%= @el_lamptype.high_lampvoltagethreshold %>
</p>

<p>
  <strong>Max operationghours:</strong>
  <%= @el_lamptype.max_operationghours %>
</p>

<p>
  <strong>Powerlightgradient:</strong>
  <%= @el_lamptype.powerlightgradient %>
</p>

<p>
  <strong>Lamppowertolerance:</strong>
  <%= @el_lamptype.lamppowertolerance %>
</p>

<p>
  <strong>Lamppowerhighthreshold:</strong>
  <%= @el_lamptype.lamppowerhighthreshold %>
</p>

<p>
  <strong>Lamppowerlowthreshold:</strong>
  <%= @el_lamptype.lamppowerlowthreshold %>
</p>

<p>
  <strong>Powerfactorthreshold:</strong>
  <%= @el_lamptype.powerfactorthreshold %>
</p>

<p>
  <strong>Lumendrepreciationcurve:</strong>
  <%= @el_lamptype.lumendrepreciationcurve %>
</p>

<p>
  <strong>V clotype:</strong>
  <%= @el_lamptype.v_clotype %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @el_lamptype.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @el_lamptype.seqcms %>
</p>

<%= link_to 'Edit', edit_el_lamptype_path(@el_lamptype) %> |
<%= link_to 'Back', el_lamptypes_path %>
