<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_typeregulator.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @v_typeregulator.short_name %>
</p>

<%= link_to 'Edit', edit_v_typeregulator_path(@v_typeregulator) %> |
<%= link_to 'Back', v_typeregulators_path %>
