<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_fbridge.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_fbridge.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_fbridge.seqcms %>
</p>

<p>
  <strong>Adesc fbridge:</strong>
  <%= @a_fbridge.adesc_fbridge %>
</p>

<p>
  <strong>F bridge:</strong>
  <%= @a_fbridge.f_bridge %>
</p>

<%= link_to 'Edit', edit_a_fbridge_path(@a_fbridge) %> |
<%= link_to 'Back', a_fbridges_path %>
