<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @a_felectricalmeter_hist.ed_logicaldev %>
</p>

<p>
  <strong>Adesc felectricalmeter:</strong>
  <%= @a_felectricalmeter_hist.adesc_felectricalmeter %>
</p>

<p>
  <strong>Value:</strong>
  <%= @a_felectricalmeter_hist.value %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @a_felectricalmeter_hist.time_stamp %>
</p>

<p>
  <strong>Type count:</strong>
  <%= @a_felectricalmeter_hist.type_count %>
</p>

<%= link_to 'Edit', edit_a_felectricalmeter_hist_path(@a_felectricalmeter_hist) %> |
<%= link_to 'Back', a_felectricalmeter_hists_path %>
