<%= form_for(@ec_calendar) do |f| %>
  <% if @ec_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ec_calendar.errors.count, "error") %> prohibited this ec_calendar from being saved:</h2>

      <ul>
      <% @ec_calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :ep_controlprogram_id %><br>
    <%= f.text_field :ep_controlprogram_id %>
  </div>
  <div class="field">
    <%= f.label :seqbridge %><br>
    <%= f.number_field :seqbridge %>
  </div>
  <div class="field">
    <%= f.label :seqcms %><br>
    <%= f.number_field :seqcms %>
  </div>
  <div class="field">
    <%= f.label :actived %><br>
    <%= f.check_box :actived %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
