<p id="notice"><%= notice %></p>

<p>
  <strong>Si alarm circuit:</strong>
  <%= @si_alarm_circuit_si_physicaldevcircuit.si_alarm_circuit %>
</p>

<p>
  <strong>Si physicaldevcircuit:</strong>
  <%= @si_alarm_circuit_si_physicaldevcircuit.si_physicaldevcircuit %>
</p>

<p>
  <strong>Is group:</strong>
  <%= @si_alarm_circuit_si_physicaldevcircuit.is_group %>
</p>

<p>
  <strong>Is single:</strong>
  <%= @si_alarm_circuit_si_physicaldevcircuit.is_single %>
</p>

<p>
  <strong>Eg group:</strong>
  <%= @si_alarm_circuit_si_physicaldevcircuit.eg_group %>
</p>

<%= link_to 'Edit', edit_si_alarm_circuit_si_physicaldevcircuit_path(@si_alarm_circuit_si_physicaldevcircuit) %> |
<%= link_to 'Back', si_alarm_circuit_si_physicaldevcircuits_path %>
