<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_vf_lampmonitor_event.ed_logicaldev %>
</p>

<p>
  <strong>V f lampmonitor event:</strong>
  <%= @ed_logicaldev_vf_lampmonitor_event.v_f_lampmonitor_event %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_vf_lampmonitor_event_path(@ed_logicaldev_vf_lampmonitor_event) %> |
<%= link_to 'Back', ed_logicaldev_vf_lampmonitor_events_path %>
