<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @si_physicaldevcircuit.name %>
</p>

<p>
  <strong>Type circuit:</strong>
  <%= @si_physicaldevcircuit.type_circuit %>
</p>

<p>
  <strong>Magnetotermic:</strong>
  <%= @si_physicaldevcircuit.magnetotermic %>
</p>

<p>
  <strong>Differencial:</strong>
  <%= @si_physicaldevcircuit.differencial %>
</p>

<p>
  <strong>Conductor type:</strong>
  <%= @si_physicaldevcircuit.conductor_type %>
</p>

<p>
  <strong>Conductor section:</strong>
  <%= @si_physicaldevcircuit.conductor_section %>
</p>

<p>
  <strong>Canalization type:</strong>
  <%= @si_physicaldevcircuit.canalization_type %>
</p>

<p>
  <strong>Si physicaldevpanel:</strong>
  <%= @si_physicaldevcircuit.si_physicaldevpanel %>
</p>

<p>
  <strong>Circuit number:</strong>
  <%= @si_physicaldevcircuit.circuit_number %>
</p>

<p>
  <strong>Telemanagement:</strong>
  <%= @si_physicaldevcircuit.telemanagement %>
</p>

<%= link_to 'Edit', edit_si_physicaldevcircuit_path(@si_physicaldevcircuit) %> |
<%= link_to 'Back', si_physicaldevcircuits_path %>
