<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_si_physicaldevcircuit.ed_logicaldev %>
</p>

<p>
  <strong>Si physicaldevcircuit:</strong>
  <%= @ed_logicaldev_si_physicaldevcircuit.si_physicaldevcircuit %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_si_physicaldevcircuit_path(@ed_logicaldev_si_physicaldevcircuit) %> |
<%= link_to 'Back', ed_logicaldev_si_physicaldevcircuits_path %>
