<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_fbasic.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_fbasic.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_fbasic.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_fbasic.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_fbasic.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_fbasic.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_fbasic.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_fbasic.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_fbasic.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_fbasic.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_fbasic.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_fbasic_path(@adesc_fbasic) %> |
<%= link_to 'Back', adesc_fbasics_path %>
