<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_flampactuator.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_flampactuator.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_flampactuator.seqcms %>
</p>

<p>
  <strong>Adesc flampactuator:</strong>
  <%= @a_flampactuator.adesc_flampactuator %>
</p>

<p>
  <strong>F lampactuator:</strong>
  <%= @a_flampactuator.f_lampactuator %>
</p>

<%= link_to 'Edit', edit_a_flampactuator_path(@a_flampactuator) %> |
<%= link_to 'Back', a_flampactuators_path %>
