<p id="notice"><%= notice %></p>

<h1>Listing Si Email Lists</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Id user aux</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @si_email_lists.each do |si_email_list| %>
      <tr>
        <td><%= si_email_list.description %></td>
        <td><%= si_email_list.id_user_aux %></td>
        <td><%= link_to 'Show', si_email_list %></td>
        <td><%= link_to 'Edit', edit_si_email_list_path(si_email_list) %></td>
        <td><%= link_to 'Destroy', si_email_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Si email list', new_si_email_list_path %>
