<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldevs_si_regulator.ed_logicaldev %>
</p>

<p>
  <strong>Si regulator:</strong>
  <%= @ed_logicaldevs_si_regulator.si_regulator %>
</p>

<%= link_to 'Edit', edit_ed_logicaldevs_si_regulator_path(@ed_logicaldevs_si_regulator) %> |
<%= link_to 'Back', ed_logicaldevs_si_regulators_path %>
