<p id="notice"><%= notice %></p>

<p>
  <strong>Ep controlprogram:</strong>
  <%= @p_controlprogramtype.ep_controlprogram %>
</p>

<p>
  <strong>V typeactiveperiod:</strong>
  <%= @p_controlprogramtype.v_typeactiveperiod %>
</p>

<%= link_to 'Edit', edit_p_controlprogramtype_path(@p_controlprogramtype) %> |
<%= link_to 'Back', p_controlprogramtypes_path %>
