<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @si_mqtt_type_alarm_epd.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @si_mqtt_type_alarm_epd.unit %>
</p>

<%= link_to 'Edit', edit_si_mqtt_type_alarm_epd_path(@si_mqtt_type_alarm_epd) %> |
<%= link_to 'Back', si_mqtt_type_alarm_epds_path %>
