<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_scene.f_lampactuator %>
</p>

<p>
  <strong>Es scene:</strong>
  <%= @ar_flampactuator_scene.es_scene %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_scene_path(@ar_flampactuator_scene) %> |
<%= link_to 'Back', ar_flampactuator_scenes_path %>
