<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @si_rf_communication.ed_logicaldev %>
</p>

<p>
  <strong>Historical valid:</strong>
  <%= @si_rf_communication.historical_valid %>
</p>

<p>
  <strong>Historical not valid:</strong>
  <%= @si_rf_communication.historical_not_valid %>
</p>

<p>
  <strong>Last day valid:</strong>
  <%= @si_rf_communication.last_day_valid %>
</p>

<p>
  <strong>Last day not valid:</strong>
  <%= @si_rf_communication.last_day_not_valid %>
</p>

<p>
  <strong>Last x valid:</strong>
  <%= @si_rf_communication.last_x_valid %>
</p>

<p>
  <strong>Last x not valid:</strong>
  <%= @si_rf_communication.last_x_not_valid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @si_rf_communication.status %>
</p>

<p>
  <strong>Repeater:</strong>
  <%= @si_rf_communication.repeater %>
</p>

<p>
  <strong>Previous last day valid:</strong>
  <%= @si_rf_communication.previous_last_day_valid %>
</p>

<p>
  <strong>Previous last day not valid:</strong>
  <%= @si_rf_communication.previous_last_day_not_valid %>
</p>

<p>
  <strong>Lamp status:</strong>
  <%= @si_rf_communication.lamp_status %>
</p>

<p>
  <strong>Alert status:</strong>
  <%= @si_rf_communication.alert_status %>
</p>

<p>
  <strong>Rf coverage:</strong>
  <%= @si_rf_communication.rf_coverage %>
</p>

<p>
  <strong>Rf valid:</strong>
  <%= @si_rf_communication.rf_valid %>
</p>

<p>
  <strong>Rf not valid:</strong>
  <%= @si_rf_communication.rf_not_valid %>
</p>

<p>
  <strong>Rf coverage pd:</strong>
  <%= @si_rf_communication.rf_coverage_pd %>
</p>

<p>
  <strong>Rf valid pd:</strong>
  <%= @si_rf_communication.rf_valid_pd %>
</p>

<p>
  <strong>Rf not valid pd:</strong>
  <%= @si_rf_communication.rf_not_valid_pd %>
</p>

<p>
  <strong>Rf variation:</strong>
  <%= @si_rf_communication.rf_variation %>
</p>

<%= link_to 'Edit', edit_si_rf_communication_path(@si_rf_communication) %> |
<%= link_to 'Back', si_rf_communications_path %>
