<p id="notice"><%= notice %></p>

<h1>Listing P Dynamicoperations</h1>

<table>
  <thead>
    <tr>
      <th>Set</th>
      <th>V dynamicoperation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_dynamicoperations.each do |p_dynamicoperation| %>
      <tr>
        <td><%= p_dynamicoperation.set %></td>
        <td><%= p_dynamicoperation.v_dynamicoperation %></td>
        <td><%= link_to 'Show', p_dynamicoperation %></td>
        <td><%= link_to 'Edit', edit_p_dynamicoperation_path(p_dynamicoperation) %></td>
        <td><%= link_to 'Destroy', p_dynamicoperation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P dynamicoperation', new_p_dynamicoperation_path %>
