<p id="notice"><%= notice %></p>

<p>
  <strong>Set:</strong>
  <%= @p_dynamicoperation.set %>
</p>

<p>
  <strong>V dynamicoperation:</strong>
  <%= @p_dynamicoperation.v_dynamicoperation %>
</p>

<%= link_to 'Edit', edit_p_dynamicoperation_path(@p_dynamicoperation) %> |
<%= link_to 'Back', p_dynamicoperations_path %>
