<p id="notice"><%= notice %></p>

<h1>Listing Eg Groups</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>V purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eg_groups.each do |eg_group| %>
      <tr>
        <td><%= eg_group.address %></td>
        <td><%= eg_group.v_purpose %></td>
        <td><%= link_to 'Show', eg_group %></td>
        <td><%= link_to 'Edit', edit_eg_group_path(eg_group) %></td>
        <td><%= link_to 'Destroy', eg_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eg group', new_eg_group_path %>
