<p id="notice"><%= notice %></p>

<h1>Listing P Fixedtimecontrols</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>L lightcommand</th>
      <th>Ep controlprogram</th>
      <th>Off set</th>
      <th>V astroclock</th>
      <th>V typeexecution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_fixedtimecontrols.each do |p_fixedtimecontrol| %>
      <tr>
        <td><%= p_fixedtimecontrol.start_time %></td>
        <td><%= p_fixedtimecontrol.l_lightcommand %></td>
        <td><%= p_fixedtimecontrol.ep_controlprogram %></td>
        <td><%= p_fixedtimecontrol.off_set %></td>
        <td><%= p_fixedtimecontrol.v_astroclock %></td>
        <td><%= p_fixedtimecontrol.v_typeexecution %></td>
        <td><%= link_to 'Show', p_fixedtimecontrol %></td>
        <td><%= link_to 'Edit', edit_p_fixedtimecontrol_path(p_fixedtimecontrol) %></td>
        <td><%= link_to 'Destroy', p_fixedtimecontrol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P fixedtimecontrol', new_p_fixedtimecontrol_path %>
