<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @p_fixedtimecontrol.start_time %>
</p>

<p>
  <strong>L lightcommand:</strong>
  <%= @p_fixedtimecontrol.l_lightcommand %>
</p>

<p>
  <strong>Ep controlprogram:</strong>
  <%= @p_fixedtimecontrol.ep_controlprogram %>
</p>

<p>
  <strong>Off set:</strong>
  <%= @p_fixedtimecontrol.off_set %>
</p>

<p>
  <strong>V astroclock:</strong>
  <%= @p_fixedtimecontrol.v_astroclock %>
</p>

<p>
  <strong>V typeexecution:</strong>
  <%= @p_fixedtimecontrol.v_typeexecution %>
</p>

<%= link_to 'Edit', edit_p_fixedtimecontrol_path(@p_fixedtimecontrol) %> |
<%= link_to 'Back', p_fixedtimecontrols_path %>
