<p id="notice"><%= notice %></p>

<h1>Listing Si Alarm Panels</h1>

<table>
  <thead>
    <tr>
      <th>Threshold</th>
      <th>Num repeat</th>
      <th>Notif email</th>
      <th>Ids lista email</th>
      <th>Notif sms</th>
      <th>Ids list sms</th>
      <th>V type alarm panel</th>
      <th>V threshold type</th>
      <th>Name</th>
      <th>Si mqtt type alarm ap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @si_alarm_panels.each do |si_alarm_panel| %>
      <tr>
        <td><%= si_alarm_panel.threshold %></td>
        <td><%= si_alarm_panel.num_repeat %></td>
        <td><%= si_alarm_panel.notif_email %></td>
        <td><%= si_alarm_panel.ids_lista_email %></td>
        <td><%= si_alarm_panel.notif_sms %></td>
        <td><%= si_alarm_panel.ids_list_sms %></td>
        <td><%= si_alarm_panel.v_type_alarm_panel %></td>
        <td><%= si_alarm_panel.v_threshold_type %></td>
        <td><%= si_alarm_panel.name %></td>
        <td><%= si_alarm_panel.si_mqtt_type_alarm_ap %></td>
        <td><%= link_to 'Show', si_alarm_panel %></td>
        <td><%= link_to 'Edit', edit_si_alarm_panel_path(si_alarm_panel) %></td>
        <td><%= link_to 'Destroy', si_alarm_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Si alarm panel', new_si_alarm_panel_path %>
