<p id="notice"><%= notice %></p>

<p>
  <strong>Threshold:</strong>
  <%= @si_alarm_panel.threshold %>
</p>

<p>
  <strong>Num repeat:</strong>
  <%= @si_alarm_panel.num_repeat %>
</p>

<p>
  <strong>Notif email:</strong>
  <%= @si_alarm_panel.notif_email %>
</p>

<p>
  <strong>Ids lista email:</strong>
  <%= @si_alarm_panel.ids_lista_email %>
</p>

<p>
  <strong>Notif sms:</strong>
  <%= @si_alarm_panel.notif_sms %>
</p>

<p>
  <strong>Ids list sms:</strong>
  <%= @si_alarm_panel.ids_list_sms %>
</p>

<p>
  <strong>V type alarm panel:</strong>
  <%= @si_alarm_panel.v_type_alarm_panel %>
</p>

<p>
  <strong>V threshold type:</strong>
  <%= @si_alarm_panel.v_threshold_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @si_alarm_panel.name %>
</p>

<p>
  <strong>Si mqtt type alarm ap:</strong>
  <%= @si_alarm_panel.si_mqtt_type_alarm_ap %>
</p>

<%= link_to 'Edit', edit_si_alarm_panel_path(@si_alarm_panel) %> |
<%= link_to 'Back', si_alarm_panels_path %>
