<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_vf_electrical_meter_event.ed_logicaldev %>
</p>

<p>
  <strong>V f electrical meter event:</strong>
  <%= @ed_logicaldev_vf_electrical_meter_event.v_f_electrical_meter_event %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_vf_electrical_meter_event_path(@ed_logicaldev_vf_electrical_meter_event) %> |
<%= link_to 'Back', ed_logicaldev_vf_electrical_meter_events_path %>
