<p id="notice"><%= notice %></p>

<p>
  <strong>Eg group:</strong>
  <%= @eg_groups_si_physicaldevcircuit.eg_group %>
</p>

<p>
  <strong>Si physicaldevcircuit:</strong>
  <%= @eg_groups_si_physicaldevcircuit.si_physicaldevcircuit %>
</p>

<%= link_to 'Edit', edit_eg_groups_si_physicaldevcircuit_path(@eg_groups_si_physicaldevcircuit) %> |
<%= link_to 'Back', eg_groups_si_physicaldevcircuits_path %>
