<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v_typelight.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @v_typelight.short_name %>
</p>

<%= link_to 'Edit', edit_v_typelight_path(@v_typelight) %> |
<%= link_to 'Back', v_typelights_path %>
