<p id="notice"><%= notice %></p>

<h1>Listing Vf Electrical Meter Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vf_electrical_meter_events.each do |vf_electrical_meter_event| %>
      <tr>
        <td><%= vf_electrical_meter_event.name %></td>
        <td><%= link_to 'Show', vf_electrical_meter_event %></td>
        <td><%= link_to 'Edit', edit_vf_electrical_meter_event_path(vf_electrical_meter_event) %></td>
        <td><%= link_to 'Destroy', vf_electrical_meter_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vf electrical meter event', new_vf_electrical_meter_event_path %>
