<p id="notice"><%= notice %></p>

<h1>Listing Si Physicaldevpanels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cod ident</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Altitude</th>
      <th>Date installation</th>
      <th>Date data</th>
      <th>Cod module</th>
      <th>Name vial</th>
      <th>Number vial</th>
      <th>Power installed</th>
      <th>Power contracted</th>
      <th>Switch general</th>
      <th>Protection mag</th>
      <th>Protection diff</th>
      <th>Number supply</th>
      <th>Number countpower</th>
      <th>Clock brand</th>
      <th>Clock model</th>
      <th>Number circuit</th>
      <th>V typecommand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @si_physicaldevpanels.each do |si_physicaldevpanel| %>
      <tr>
        <td><%= si_physicaldevpanel.name %></td>
        <td><%= si_physicaldevpanel.cod_ident %></td>
        <td><%= si_physicaldevpanel.location %></td>
        <td><%= si_physicaldevpanel.longitude %></td>
        <td><%= si_physicaldevpanel.latitude %></td>
        <td><%= si_physicaldevpanel.altitude %></td>
        <td><%= si_physicaldevpanel.date_installation %></td>
        <td><%= si_physicaldevpanel.date_data %></td>
        <td><%= si_physicaldevpanel.cod_module %></td>
        <td><%= si_physicaldevpanel.name_vial %></td>
        <td><%= si_physicaldevpanel.number_vial %></td>
        <td><%= si_physicaldevpanel.power_installed %></td>
        <td><%= si_physicaldevpanel.power_contracted %></td>
        <td><%= si_physicaldevpanel.switch_general %></td>
        <td><%= si_physicaldevpanel.protection_mag %></td>
        <td><%= si_physicaldevpanel.protection_diff %></td>
        <td><%= si_physicaldevpanel.number_supply %></td>
        <td><%= si_physicaldevpanel.number_countpower %></td>
        <td><%= si_physicaldevpanel.clock_brand %></td>
        <td><%= si_physicaldevpanel.clock_model %></td>
        <td><%= si_physicaldevpanel.number_circuit %></td>
        <td><%= si_physicaldevpanel.v_typecommand %></td>
        <td><%= link_to 'Show', si_physicaldevpanel %></td>
        <td><%= link_to 'Edit', edit_si_physicaldevpanel_path(si_physicaldevpanel) %></td>
        <td><%= link_to 'Destroy', si_physicaldevpanel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Si physicaldevpanel', new_si_physicaldevpanel_path %>
