<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @si_physicaldevpanel.name %>
</p>

<p>
  <strong>Cod ident:</strong>
  <%= @si_physicaldevpanel.cod_ident %>
</p>

<p>
  <strong>Location:</strong>
  <%= @si_physicaldevpanel.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @si_physicaldevpanel.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @si_physicaldevpanel.latitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @si_physicaldevpanel.altitude %>
</p>

<p>
  <strong>Date installation:</strong>
  <%= @si_physicaldevpanel.date_installation %>
</p>

<p>
  <strong>Date data:</strong>
  <%= @si_physicaldevpanel.date_data %>
</p>

<p>
  <strong>Cod module:</strong>
  <%= @si_physicaldevpanel.cod_module %>
</p>

<p>
  <strong>Name vial:</strong>
  <%= @si_physicaldevpanel.name_vial %>
</p>

<p>
  <strong>Number vial:</strong>
  <%= @si_physicaldevpanel.number_vial %>
</p>

<p>
  <strong>Power installed:</strong>
  <%= @si_physicaldevpanel.power_installed %>
</p>

<p>
  <strong>Power contracted:</strong>
  <%= @si_physicaldevpanel.power_contracted %>
</p>

<p>
  <strong>Switch general:</strong>
  <%= @si_physicaldevpanel.switch_general %>
</p>

<p>
  <strong>Protection mag:</strong>
  <%= @si_physicaldevpanel.protection_mag %>
</p>

<p>
  <strong>Protection diff:</strong>
  <%= @si_physicaldevpanel.protection_diff %>
</p>

<p>
  <strong>Number supply:</strong>
  <%= @si_physicaldevpanel.number_supply %>
</p>

<p>
  <strong>Number countpower:</strong>
  <%= @si_physicaldevpanel.number_countpower %>
</p>

<p>
  <strong>Clock brand:</strong>
  <%= @si_physicaldevpanel.clock_brand %>
</p>

<p>
  <strong>Clock model:</strong>
  <%= @si_physicaldevpanel.clock_model %>
</p>

<p>
  <strong>Number circuit:</strong>
  <%= @si_physicaldevpanel.number_circuit %>
</p>

<p>
  <strong>V typecommand:</strong>
  <%= @si_physicaldevpanel.v_typecommand %>
</p>

<%= link_to 'Edit', edit_si_physicaldevpanel_path(@si_physicaldevpanel) %> |
<%= link_to 'Back', si_physicaldevpanels_path %>
