<%= form_for(@ar_flampactuator_calendar) do |f| %>
  <% if @ar_flampactuator_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ar_flampactuator_calendar.errors.count, "error") %> prohibited this ar_flampactuator_calendar from being saved:</h2>

      <ul>
      <% @ar_flampactuator_calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_lampactuator_id %><br>
    <%= f.text_field :f_lampactuator_id %>
  </div>
  <div class="field">
    <%= f.label :ec_calendar_id %><br>
    <%= f.text_field :ec_calendar_id %>
  </div>
  <div class="field">
    <%= f.label :is_group %><br>
    <%= f.check_box :is_group %>
  </div>
  <div class="field">
    <%= f.label :is_single %><br>
    <%= f.check_box :is_single %>
  </div>
  <div class="field">
    <%= f.label :eg_group_id %><br>
    <%= f.text_field :eg_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
