<p id="notice"><%= notice %></p>

<h1>Listing Ar Flampactuator Calendars</h1>

<table>
  <thead>
    <tr>
      <th>F lampactuator</th>
      <th>Ec calendar</th>
      <th>Is group</th>
      <th>Is single</th>
      <th>Eg group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_flampactuator_calendars.each do |ar_flampactuator_calendar| %>
      <tr>
        <td><%= ar_flampactuator_calendar.f_lampactuator %></td>
        <td><%= ar_flampactuator_calendar.ec_calendar %></td>
        <td><%= ar_flampactuator_calendar.is_group %></td>
        <td><%= ar_flampactuator_calendar.is_single %></td>
        <td><%= ar_flampactuator_calendar.eg_group %></td>
        <td><%= link_to 'Show', ar_flampactuator_calendar %></td>
        <td><%= link_to 'Edit', edit_ar_flampactuator_calendar_path(ar_flampactuator_calendar) %></td>
        <td><%= link_to 'Destroy', ar_flampactuator_calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar flampactuator calendar', new_ar_flampactuator_calendar_path %>
