<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_calendar.f_lampactuator %>
</p>

<p>
  <strong>Ec calendar:</strong>
  <%= @ar_flampactuator_calendar.ec_calendar %>
</p>

<p>
  <strong>Is group:</strong>
  <%= @ar_flampactuator_calendar.is_group %>
</p>

<p>
  <strong>Is single:</strong>
  <%= @ar_flampactuator_calendar.is_single %>
</p>

<p>
  <strong>Eg group:</strong>
  <%= @ar_flampactuator_calendar.eg_group %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_calendar_path(@ar_flampactuator_calendar) %> |
<%= link_to 'Back', ar_flampactuator_calendars_path %>
