<p id="notice"><%= notice %></p>

<p>
  <strong>Ed classlogicaldev:</strong>
  <%= @ed_classlogicaldevs_f_function.ed_classlogicaldev %>
</p>

<p>
  <strong>F function:</strong>
  <%= @ed_classlogicaldevs_f_function.f_function %>
</p>

<%= link_to 'Edit', edit_ed_classlogicaldevs_f_function_path(@ed_classlogicaldevs_f_function) %> |
<%= link_to 'Back', ed_classlogicaldevs_f_functions_path %>
