<p id="notice"><%= notice %></p>

<h1>Listing Ar Flampactuator Actuallightstates</h1>

<table>
  <thead>
    <tr>
      <th>F lampactuator</th>
      <th>L lightstate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_flampactuator_actuallightstates.each do |ar_flampactuator_actuallightstate| %>
      <tr>
        <td><%= ar_flampactuator_actuallightstate.f_lampactuator %></td>
        <td><%= ar_flampactuator_actuallightstate.l_lightstate %></td>
        <td><%= link_to 'Show', ar_flampactuator_actuallightstate %></td>
        <td><%= link_to 'Edit', edit_ar_flampactuator_actuallightstate_path(ar_flampactuator_actuallightstate) %></td>
        <td><%= link_to 'Destroy', ar_flampactuator_actuallightstate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar flampactuator actuallightstate', new_ar_flampactuator_actuallightstate_path %>
