<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_actuallightstate.f_lampactuator %>
</p>

<p>
  <strong>L lightstate:</strong>
  <%= @ar_flampactuator_actuallightstate.l_lightstate %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_actuallightstate_path(@ar_flampactuator_actuallightstate) %> |
<%= link_to 'Back', ar_flampactuator_actuallightstates_path %>
