<%= form_for(@v_astroclock) do |f| %>
  <% if @v_astroclock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@v_astroclock.errors.count, "error") %> prohibited this v_astroclock from being saved:</h2>

      <ul>
      <% @v_astroclock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
