<p id="notice"><%= notice %></p>

<h1>Listing Si Physicaldevlamps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cod ident</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Altitude</th>
      <th>Date installation</th>
      <th>Number lamp</th>
      <th>Lamp power</th>
      <th>V typelight</th>
      <th>V typelamppost</th>
      <th>V typephysicalsupport</th>
      <th>Si physicaldevcircuit</th>
      <th>Date data</th>
      <th>Name vial</th>
      <th>Lamppost brand</th>
      <th>Lamppost model</th>
      <th>Typelight brand</th>
      <th>Typelight model</th>
      <th>Typelight power</th>
      <th>Lifetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @si_physicaldevlamps.each do |si_physicaldevlamp| %>
      <tr>
        <td><%= si_physicaldevlamp.name %></td>
        <td><%= si_physicaldevlamp.cod_ident %></td>
        <td><%= si_physicaldevlamp.location %></td>
        <td><%= si_physicaldevlamp.longitude %></td>
        <td><%= si_physicaldevlamp.latitude %></td>
        <td><%= si_physicaldevlamp.altitude %></td>
        <td><%= si_physicaldevlamp.date_installation %></td>
        <td><%= si_physicaldevlamp.number_lamp %></td>
        <td><%= si_physicaldevlamp.lamp_power %></td>
        <td><%= si_physicaldevlamp.v_typelight %></td>
        <td><%= si_physicaldevlamp.v_typelamppost %></td>
        <td><%= si_physicaldevlamp.v_typephysicalsupport %></td>
        <td><%= si_physicaldevlamp.si_physicaldevcircuit %></td>
        <td><%= si_physicaldevlamp.date_data %></td>
        <td><%= si_physicaldevlamp.name_vial %></td>
        <td><%= si_physicaldevlamp.lamppost_brand %></td>
        <td><%= si_physicaldevlamp.lamppost_model %></td>
        <td><%= si_physicaldevlamp.typelight_brand %></td>
        <td><%= si_physicaldevlamp.typelight_model %></td>
        <td><%= si_physicaldevlamp.typelight_power %></td>
        <td><%= si_physicaldevlamp.lifetime %></td>
        <td><%= link_to 'Show', si_physicaldevlamp %></td>
        <td><%= link_to 'Edit', edit_si_physicaldevlamp_path(si_physicaldevlamp) %></td>
        <td><%= link_to 'Destroy', si_physicaldevlamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Si physicaldevlamp', new_si_physicaldevlamp_path %>
