<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @si_physicaldevlamp.name %>
</p>

<p>
  <strong>Cod ident:</strong>
  <%= @si_physicaldevlamp.cod_ident %>
</p>

<p>
  <strong>Location:</strong>
  <%= @si_physicaldevlamp.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @si_physicaldevlamp.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @si_physicaldevlamp.latitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @si_physicaldevlamp.altitude %>
</p>

<p>
  <strong>Date installation:</strong>
  <%= @si_physicaldevlamp.date_installation %>
</p>

<p>
  <strong>Number lamp:</strong>
  <%= @si_physicaldevlamp.number_lamp %>
</p>

<p>
  <strong>Lamp power:</strong>
  <%= @si_physicaldevlamp.lamp_power %>
</p>

<p>
  <strong>V typelight:</strong>
  <%= @si_physicaldevlamp.v_typelight %>
</p>

<p>
  <strong>V typelamppost:</strong>
  <%= @si_physicaldevlamp.v_typelamppost %>
</p>

<p>
  <strong>V typephysicalsupport:</strong>
  <%= @si_physicaldevlamp.v_typephysicalsupport %>
</p>

<p>
  <strong>Si physicaldevcircuit:</strong>
  <%= @si_physicaldevlamp.si_physicaldevcircuit %>
</p>

<p>
  <strong>Date data:</strong>
  <%= @si_physicaldevlamp.date_data %>
</p>

<p>
  <strong>Name vial:</strong>
  <%= @si_physicaldevlamp.name_vial %>
</p>

<p>
  <strong>Lamppost brand:</strong>
  <%= @si_physicaldevlamp.lamppost_brand %>
</p>

<p>
  <strong>Lamppost model:</strong>
  <%= @si_physicaldevlamp.lamppost_model %>
</p>

<p>
  <strong>Typelight brand:</strong>
  <%= @si_physicaldevlamp.typelight_brand %>
</p>

<p>
  <strong>Typelight model:</strong>
  <%= @si_physicaldevlamp.typelight_model %>
</p>

<p>
  <strong>Typelight power:</strong>
  <%= @si_physicaldevlamp.typelight_power %>
</p>

<p>
  <strong>Lifetime:</strong>
  <%= @si_physicaldevlamp.lifetime %>
</p>

<%= link_to 'Edit', edit_si_physicaldevlamp_path(@si_physicaldevlamp) %> |
<%= link_to 'Back', si_physicaldevlamps_path %>
