<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_fcomm.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_fcomm.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_fcomm.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_fcomm.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_fcomm.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_fcomm.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_fcomm.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_fcomm.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_fcomm.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_fcomm.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_fcomm.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_fcomm_path(@adesc_fcomm) %> |
<%= link_to 'Back', adesc_fcomms_path %>
