<p id="notice"><%= notice %></p>

<h1>Listing Ar Fcomm V Typecommunication2s</h1>

<table>
  <thead>
    <tr>
      <th>F communication</th>
      <th>V typecommunication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_fcomm_v_typecommunication2s.each do |ar_fcomm_v_typecommunication2| %>
      <tr>
        <td><%= ar_fcomm_v_typecommunication2.f_communication %></td>
        <td><%= ar_fcomm_v_typecommunication2.v_typecommunication %></td>
        <td><%= link_to 'Show', ar_fcomm_v_typecommunication2 %></td>
        <td><%= link_to 'Edit', edit_ar_fcomm_v_typecommunication2_path(ar_fcomm_v_typecommunication2) %></td>
        <td><%= link_to 'Destroy', ar_fcomm_v_typecommunication2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar fcomm v typecommunication2', new_ar_fcomm_v_typecommunication2_path %>
