<p id="notice"><%= notice %></p>

<p>
  <strong>F communication:</strong>
  <%= @ar_fcomm_v_typecommunication2.f_communication %>
</p>

<p>
  <strong>V typecommunication:</strong>
  <%= @ar_fcomm_v_typecommunication2.v_typecommunication %>
</p>

<%= link_to 'Edit', edit_ar_fcomm_v_typecommunication2_path(@ar_fcomm_v_typecommunication2) %> |
<%= link_to 'Back', ar_fcomm_v_typecommunication2s_path %>
