<p id="notice"><%= notice %></p>

<p>
  <strong>Type a:</strong>
  <%= @si_mqtt_type_alarm_ap.type_a %>
</p>

<p>
  <strong>Subtype a:</strong>
  <%= @si_mqtt_type_alarm_ap.subtype_a %>
</p>

<%= link_to 'Edit', edit_si_mqtt_type_alarm_ap_path(@si_mqtt_type_alarm_ap) %> |
<%= link_to 'Back', si_mqtt_type_alarm_aps_path %>
