<p id="notice"><%= notice %></p>

<p>
  <strong>Sunset offset:</strong>
  <%= @p_activeperiodastroclock.sunset_offset %>
</p>

<p>
  <strong>Sunrise offset:</strong>
  <%= @p_activeperiodastroclock.sunrise_offset %>
</p>

<p>
  <strong>Ep controlprogram:</strong>
  <%= @p_activeperiodastroclock.ep_controlprogram %>
</p>

<%= link_to 'Edit', edit_p_activeperiodastroclock_path(@p_activeperiodastroclock) %> |
<%= link_to 'Back', p_activeperiodastroclocks_path %>
