<p id="notice"><%= notice %></p>

<p>
  <strong>F communication:</strong>
  <%= @ar_fcomm_v_typecommunication1.f_communication %>
</p>

<p>
  <strong>V typecommunication:</strong>
  <%= @ar_fcomm_v_typecommunication1.v_typecommunication %>
</p>

<%= link_to 'Edit', edit_ar_fcomm_v_typecommunication1_path(@ar_fcomm_v_typecommunication1) %> |
<%= link_to 'Back', ar_fcomm_v_typecommunication1s_path %>
