<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldevs_v_action.ed_logicaldev %>
</p>

<p>
  <strong>V action:</strong>
  <%= @ed_logicaldevs_v_action.v_action %>
</p>

<%= link_to 'Edit', edit_ed_logicaldevs_v_action_path(@ed_logicaldevs_v_action) %> |
<%= link_to 'Back', ed_logicaldevs_v_actions_path %>
