<p id="notice"><%= notice %></p>

<h1>Listing Ed Logicaldev Si Physicaldevlamps</h1>

<table>
  <thead>
    <tr>
      <th>Ed logicaldev</th>
      <th>Si physicaldevlamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ed_logicaldev_si_physicaldevlamps.each do |ed_logicaldev_si_physicaldevlamp| %>
      <tr>
        <td><%= ed_logicaldev_si_physicaldevlamp.ed_logicaldev %></td>
        <td><%= ed_logicaldev_si_physicaldevlamp.si_physicaldevlamp %></td>
        <td><%= link_to 'Show', ed_logicaldev_si_physicaldevlamp %></td>
        <td><%= link_to 'Edit', edit_ed_logicaldev_si_physicaldevlamp_path(ed_logicaldev_si_physicaldevlamp) %></td>
        <td><%= link_to 'Destroy', ed_logicaldev_si_physicaldevlamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ed logicaldev si physicaldevlamp', new_ed_logicaldev_si_physicaldevlamp_path %>
