<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_si_physicaldevlamp.ed_logicaldev %>
</p>

<p>
  <strong>Si physicaldevlamp:</strong>
  <%= @ed_logicaldev_si_physicaldevlamp.si_physicaldevlamp %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_si_physicaldevlamp_path(@ed_logicaldev_si_physicaldevlamp) %> |
<%= link_to 'Back', ed_logicaldev_si_physicaldevlamps_path %>
