<p id="notice"><%= notice %></p>

<p>
  <strong>F lampactuator:</strong>
  <%= @ar_flampactuator_targetlightcommand.f_lampactuator %>
</p>

<p>
  <strong>L lightcommand:</strong>
  <%= @ar_flampactuator_targetlightcommand.l_lightcommand %>
</p>

<%= link_to 'Edit', edit_ar_flampactuator_targetlightcommand_path(@ar_flampactuator_targetlightcommand) %> |
<%= link_to 'Back', ar_flampactuator_targetlightcommands_path %>
