<%= form_for(@si_physicaldevlamp_si_physicaldevgateway) do |f| %>
  <% if @si_physicaldevlamp_si_physicaldevgateway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@si_physicaldevlamp_si_physicaldevgateway.errors.count, "error") %> prohibited this si_physicaldevlamp_si_physicaldevgateway from being saved:</h2>

      <ul>
      <% @si_physicaldevlamp_si_physicaldevgateway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :si_physicaldevlamp_id %><br>
    <%= f.text_field :si_physicaldevlamp_id %>
  </div>
  <div class="field">
    <%= f.label :si_physicaldevgateway_id %><br>
    <%= f.text_field :si_physicaldevgateway_id %>
  </div>
  <div class="field">
    <%= f.label :distance_lamp_gateway %><br>
    <%= f.number_field :distance_lamp_gateway %>
  </div>
  <div class="field">
    <%= f.label :distance_level %><br>
    <%= f.number_field :distance_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
