<p id="notice"><%= notice %></p>

<p>
  <strong>Si physicaldevlamp:</strong>
  <%= @si_physicaldevlamp_si_physicaldevgateway.si_physicaldevlamp %>
</p>

<p>
  <strong>Si physicaldevgateway:</strong>
  <%= @si_physicaldevlamp_si_physicaldevgateway.si_physicaldevgateway %>
</p>

<p>
  <strong>Distance lamp gateway:</strong>
  <%= @si_physicaldevlamp_si_physicaldevgateway.distance_lamp_gateway %>
</p>

<p>
  <strong>Distance level:</strong>
  <%= @si_physicaldevlamp_si_physicaldevgateway.distance_level %>
</p>

<%= link_to 'Edit', edit_si_physicaldevlamp_si_physicaldevgateway_path(@si_physicaldevlamp_si_physicaldevgateway) %> |
<%= link_to 'Back', si_physicaldevlamp_si_physicaldevgateways_path %>
