<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_felectricalmeter.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_felectricalmeter.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_felectricalmeter.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_felectricalmeter.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_felectricalmeter.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_felectricalmeter.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_felectricalmeter.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_felectricalmeter.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_felectricalmeter.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_felectricalmeter.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_felectricalmeter.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_felectricalmeter_path(@adesc_felectricalmeter) %> |
<%= link_to 'Back', adesc_felectricalmeters_path %>
