<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @a_felectricalmeter.value %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @a_felectricalmeter.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @a_felectricalmeter.seqcms %>
</p>

<p>
  <strong>Adesc felectricalmeter:</strong>
  <%= @a_felectricalmeter.adesc_felectricalmeter %>
</p>

<p>
  <strong>F electricalmeter:</strong>
  <%= @a_felectricalmeter.f_electricalmeter %>
</p>

<%= link_to 'Edit', edit_a_felectricalmeter_path(@a_felectricalmeter) %> |
<%= link_to 'Back', a_felectricalmeters_path %>
