<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_vs_data_pkg_transfer_event.ed_logicaldev %>
</p>

<p>
  <strong>V s data pkg transfer event:</strong>
  <%= @ed_logicaldev_vs_data_pkg_transfer_event.v_s_data_pkg_transfer_event %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_vs_data_pkg_transfer_event_path(@ed_logicaldev_vs_data_pkg_transfer_event) %> |
<%= link_to 'Back', ed_logicaldev_vs_data_pkg_transfer_events_path %>
