<p id="notice"><%= notice %></p>

<h1>Listing Ed Logicaldev Vf Generic Sensor Events</h1>

<table>
  <thead>
    <tr>
      <th>Ed logicaldev</th>
      <th>V f generic sensor event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ed_logicaldev_vf_generic_sensor_events.each do |ed_logicaldev_vf_generic_sensor_event| %>
      <tr>
        <td><%= ed_logicaldev_vf_generic_sensor_event.ed_logicaldev %></td>
        <td><%= ed_logicaldev_vf_generic_sensor_event.v_f_generic_sensor_event %></td>
        <td><%= link_to 'Show', ed_logicaldev_vf_generic_sensor_event %></td>
        <td><%= link_to 'Edit', edit_ed_logicaldev_vf_generic_sensor_event_path(ed_logicaldev_vf_generic_sensor_event) %></td>
        <td><%= link_to 'Destroy', ed_logicaldev_vf_generic_sensor_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ed logicaldev vf generic sensor event', new_ed_logicaldev_vf_generic_sensor_event_path %>
