<p id="notice"><%= notice %></p>

<p>
  <strong>Ed logicaldev:</strong>
  <%= @ed_logicaldev_vf_generic_sensor_event.ed_logicaldev %>
</p>

<p>
  <strong>V f generic sensor event:</strong>
  <%= @ed_logicaldev_vf_generic_sensor_event.v_f_generic_sensor_event %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_vf_generic_sensor_event_path(@ed_logicaldev_vf_generic_sensor_event) %> |
<%= link_to 'Back', ed_logicaldev_vf_generic_sensor_events_path %>
