<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adesc_flampmonitor.name %>
</p>

<p>
  <strong>V storagetype:</strong>
  <%= @adesc_flampmonitor.v_storagetype %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @adesc_flampmonitor.unit %>
</p>

<p>
  <strong>Minvalue:</strong>
  <%= @adesc_flampmonitor.minvalue %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @adesc_flampmonitor.maxvalue %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @adesc_flampmonitor.regex %>
</p>

<p>
  <strong>Enumeration:</strong>
  <%= @adesc_flampmonitor.enumeration %>
</p>

<p>
  <strong>Read only:</strong>
  <%= @adesc_flampmonitor.read_only %>
</p>

<p>
  <strong>Maxinstances:</strong>
  <%= @adesc_flampmonitor.maxinstances %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @adesc_flampmonitor.descr %>
</p>

<p>
  <strong>Lightcommand:</strong>
  <%= @adesc_flampmonitor.lightcommand %>
</p>

<%= link_to 'Edit', edit_adesc_flampmonitor_path(@adesc_flampmonitor) %> |
<%= link_to 'Back', adesc_flampmonitors_path %>
