<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ed_logicaldev.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ed_logicaldev.address %>
</p>

<p>
  <strong>Seqbridge:</strong>
  <%= @ed_logicaldev.seqbridge %>
</p>

<p>
  <strong>Seqcms:</strong>
  <%= @ed_logicaldev.seqcms %>
</p>

<p>
  <strong>Ed classlogicaldev:</strong>
  <%= @ed_logicaldev.ed_classlogicaldev %>
</p>

<p>
  <strong>Qr:</strong>
  <%= @ed_logicaldev.qr %>
</p>

<%= link_to 'Edit', edit_ed_logicaldev_path(@ed_logicaldev) %> |
<%= link_to 'Back', ed_logicaldevs_path %>
